In [135]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn import metrics

from sklearn.neighbors import KNeighborsClassifier #knn
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

In [136]:
from sklearn.preprocessing import LabelEncoder

In [137]:
data= pd.read_csv("C:\\Users\\MASSIVE\\Price-Predictor-ML-\\final.csv")

In [138]:
print(data.columns)
data.isnull().sum()

Index(['id', 'title', 'price', 'specs_annee', 'specs_car_engine',
       'specs_couleur_auto', 'specs_papiers', 'specs_kilometrage',
       'specs_marque-voiture', 'specs_modele', 'specs_finition',
       'specs_energie', 'specs_boite', 'option0', 'option1', 'option2',
       'option3', 'option4', 'option5', 'option6', 'option7', 'option8',
       'option9', 'option10', 'option11', 'option12', 'option13'],
      dtype='object')

id                          0
title                       0
price                       0
specs_annee                 0
specs_car_engine         9798
specs_couleur_auto       2494
specs_papiers            4024
specs_kilometrage        4661
specs_marque-voiture        0
specs_modele                1
specs_finition          18647
specs_energie           92547
specs_boite             92547
option0                 17057
option1                 21209
option2                 23907
option3                 26781
option4                 29897
option5                 33568
option6                 37328
option7                 41555
option8                 46047
option9                 50978
option10                56118
option11                61725
option12                68319
option13                77359
dtype: int64

In [139]:
data.describe()

                 id         price   specs_annee  specs_energie  specs_boite
count  9.254700e+04  9.254700e+04  92547.000000            0.0          0.0
mean   3.812892e+07  1.203689e+17   2012.852723            NaN          NaN
std    3.494813e+06  3.307373e+19      8.425591            NaN          NaN
min    5.065853e+06  0.000000e+00   1922.000000            NaN          NaN
25%    3.731984e+07  3.000000e+04   2010.000000            NaN          NaN
50%    3.892210e+07  1.330000e+06   2014.000000            NaN          NaN
75%    4.049664e+07  3.000000e+06   2019.000000            NaN          NaN
max    4.114435e+07  1.000000e+22   2024.000000            NaN          NaN

In [140]:
df_sans_redondance = data.drop_duplicates(subset=['title', 'price', 'specs_annee', 'specs_car_engine',
       'specs_couleur_auto', 'specs_papiers', 'specs_kilometrage',
       'specs_marque-voiture', 'specs_modele', 'specs_finition',
       'specs_energie', 'specs_boite', 'option0', 'option1', 'option2',
       'option3', 'option4', 'option5', 'option6', 'option7', 'option8',
       'option9', 'option10', 'option11', 'option12', 'option13'])

In [141]:
df_sans_redondance.describe()

                 id         price   specs_annee  specs_energie  specs_boite
count  8.165100e+04  8.165100e+04  81651.000000            0.0          0.0
mean   3.801315e+07  1.364176e+17   2012.781178            NaN          NaN
std    3.610755e+06  3.521142e+19      8.432619            NaN          NaN
min    5.065853e+06  0.000000e+00   1922.000000            NaN          NaN
25%    3.725727e+07  3.000000e+04   2009.000000            NaN          NaN
50%    3.878533e+07  1.310000e+06   2014.000000            NaN          NaN
75%    4.046485e+07  3.000000e+06   2019.000000            NaN          NaN
max    4.114435e+07  1.000000e+22   2024.000000            NaN          NaN

In [142]:
copy=df_sans_redondance.copy()

In [143]:
# Create a new column named 'new_options' and initialize it with 0
copy['options'] = 0

# Iterate over each row
for index, row in copy.iterrows():
    options_count = 0
    # Count options from option0 to option13
    for i in range(14):
        option_col = f'option{i}'
        if not pd.isnull(row[option_col]):
            options_count += 1
    # Store the count of options in the 'new_options' column
    copy.at[index, 'options'] = options_count

In [144]:
copy.columns

Index(['id', 'title', 'price', 'specs_annee', 'specs_car_engine',
       'specs_couleur_auto', 'specs_papiers', 'specs_kilometrage',
       'specs_marque-voiture', 'specs_modele', 'specs_finition',
       'specs_energie', 'specs_boite', 'option0', 'option1', 'option2',
       'option3', 'option4', 'option5', 'option6', 'option7', 'option8',
       'option9', 'option10', 'option11', 'option12', 'option13', 'options'],
      dtype='object')

In [145]:
copy['options'].value_counts

<bound method IndexOpsMixin.value_counts of 0         0
1         1
2         7
3        11
4         0
         ..
92542    14
92543    14
92544     0
92545     7
92546    10
Name: options, Length: 81651, dtype: int64>

In [146]:
copy.drop(['option0', 'option1', 'option2',
       'option3', 'option4', 'option5', 'option6', 'option7', 'option8',
       'option9', 'option10', 'option11', 'option12', 'option13'], axis=1,inplace=True)

In [147]:
copy.columns

Index(['id', 'title', 'price', 'specs_annee', 'specs_car_engine',
       'specs_couleur_auto', 'specs_papiers', 'specs_kilometrage',
       'specs_marque-voiture', 'specs_modele', 'specs_finition',
       'specs_energie', 'specs_boite', 'options'],
      dtype='object')

In [148]:
print(copy[['id', 'title', 'price', 'specs_annee', 'specs_car_engine',
       'specs_couleur_auto', 'specs_papiers', 'specs_kilometrage',
       'specs_marque-voiture', 'specs_modele', 'specs_finition',
       'specs_energie', 'specs_boite']].dtypes)

id                        int64
title                    object
price                   float64
specs_annee               int64
specs_car_engine         object
specs_couleur_auto       object
specs_papiers            object
specs_kilometrage        object
specs_marque-voiture     object
specs_modele             object
specs_finition           object
specs_energie           float64
specs_boite             float64
dtype: object

In [149]:
copy['specs_kilometrage'] = pd.to_numeric(copy['specs_kilometrage'].str.replace('km', ''), errors='coerce')

In [150]:
copy['specs_annee'] = pd.to_numeric(copy['specs_annee'],errors='coerce')
copy['price'] = pd.to_numeric(copy['price'],errors='coerce')

In [151]:
copy['specs_boite'].value_counts()

Series([], Name: count, dtype: int64)

In [152]:
# Check for null values in the 'specs_energie' column
null_count = copy['specs_boite'].isnull().sum()
print("Number of null values:", null_count)

# Display unique values in the 'specs_energie' column
unique_values = copy['specs_boite'].unique()
print("Unique values:", unique_values)

Number of null values: 81651
Unique values: [nan]

In [153]:
copy['specs_papiers'] = copy['specs_papiers'].replace({
    'Carte grise / safia': 1,
    'Licence / Délai': 2,
    'Carte jaune': 3,
})

# Display the resulting DataFrame
print(copy['specs_papiers'].value_counts())

specs_papiers
1.0    73676
2.0     2875
3.0     1527
Name: count, dtype: int64

In [154]:
print(copy[['id', 'title', 'price', 'specs_annee', 'specs_car_engine',
       'specs_couleur_auto', 'specs_papiers', 'specs_kilometrage',
       'specs_marque-voiture', 'specs_modele', 'specs_finition',
       'specs_energie', 'specs_boite', 'options']].dtypes)

id                        int64
title                    object
price                   float64
specs_annee               int64
specs_car_engine         object
specs_couleur_auto       object
specs_papiers           float64
specs_kilometrage       float64
specs_marque-voiture     object
specs_modele             object
specs_finition           object
specs_energie           float64
specs_boite             float64
options                   int64
dtype: object

In [155]:
label_encoder = LabelEncoder()
copy['specs_couleur_auto'] = label_encoder.fit_transform(copy['specs_couleur_auto'])

In [156]:
copy['specs_marque-voiture'].value_counts()

specs_marque-voiture
Renault                  14962
Peugeot                  10856
Volkswagen                9256
Hyundai                   4875
Seat                      4394
                         ...
Renault laguna               1
Dacia stpway sandero         1
Fiat une                     1
Renu kongo                   1
Ds7                          1
Name: count, Length: 634, dtype: int64

In [157]:
# Mapping dictionary to standardize brand names
brand_mapping = {
    'Renault laguna': 'Renault','رنوا': 'Renault','R4': 'Renault','Renu kongo':'Renault',
    'Dacia stpway sandero': 'Dacia','Dacia stpway sandero':'Dacia','Dacia stpway sandero':'Dacia',
    'Fiat une': 'Fiat','FIAT TIPO': 'Fiat',
    'Renu kongo': 'Renault','كليو': 'Renault',
    'Ds7': 'DS Automobiles',
    'Picanto' : 'Kia','Kia  sportage': 'Kia',
    'Ikco': 'Other',  # Correcting 'Ikco' to 'Other' (assuming it's not a valid brand)
    'chevroli': 'Chevrolet',  # Correcting 'chevroli' to 'Chevrolet'
    'Cheri': 'Chery','chiri': 'Chery',  # Correcting 'Cheri' to 'Chery'
    'DS Automobiles': 'DS' ,
    'ايبيزا 2015 2 بورت': 'Seat',
    'bmw e36':'BMW',
    'Picasso':'Citroen'
}

# Replace inconsistent brand names with the correct ones
copy['specs_marque-voiture'].replace(brand_mapping, inplace=True)

In [158]:
# Check the updated value counts
print(copy['specs_marque-voiture'].value_counts())

specs_marque-voiture
Renault           14966
Peugeot           10856
Volkswagen         9256
Hyundai            4875
Seat               4395
                  ...
clio 3                1
Picanto               1
Other                 1
FISPA                 1
DS Automobiles        1
Name: count, Length: 620, dtype: int64

In [159]:
unique_brands = copy['specs_marque-voiture'].unique()

# Print the list of unique brands
print(unique_brands)

['Dacia' 'Seat' 'Kia' 'Nissan' 'Volkswagen' 'Peugeot' 'Fiat' 'Renault'
 'Chery' 'Great Wall' 'Citroen' 'Hyundai' 'Suzuki' 'Alfa Romeo'
 'Chevrolet' 'Mercedes' 'BMW' 'DS' 'Toyota' 'Huanghai' 'Vms' 'Skoda'
 'Daewoo' 'Balingo' 'Haima' 'Zotye' 'Audi' 'Mini Cooper' 'Gonow'
 'Land Rover' 'DFSK' 'Ibiza' 'SsangYong' 'QQ' 'JAC' 'Ford' 'Lada' 'Chana'
 'Opel' 'Baic' 'Honda' 'MG' 'CERTA' 'Faw' 'Chrysler' 'DFM'
 'Fiat Professional' 'Daihatsu' 'Hafei motors' 'Sonacom' 'Isuzu' 'Lagona'
 'Pougou' 'Desactivation adblue sur kia sportage et hyundai tucson'
 'رونو 18براك' 'Geely' 'Mazda' 'Kango' 'Pertner'
 'Yamaha svho super charge' 'Lifan' 'Maruti' 'Ford fiesta' 'Tata'
 'Gonow dfsk dfm sokon chana hafei faw' 'Rover' 'Mitsubishi' 'Changan'
 'clio' 'Porsche' 'رونو   18' 'Aston Martin' 'Ssang yong' 'Tesla' 'Atos'
 'Brilliance' 'رونو' 'Maserati' 'Xsara' 'Smbole' 'Jaguar' 'بيجو' 'Sym'
 'terios' 'Dfsk dfm' 'فورد' 'شفرولي افيو' 'Golf' 'Partner' 'toureg' 'Cuxi'
 'Renault Kangoo' 'Victoria' 'Cadillac' 'Doblo' 'Clio 4' 'Cmbole'
 'Reneault' 'ليون' 'Bugatti' 'شيفرولي' 'Kia Sorento' 'شونق' 'Renault r21'
 'طيوطا' 'Moteur1,6hdi110' 'Seat ateca 2023' 'Iran Khodro' 'Kangoo'
 'maruti' 'Land rover' 'Megane' 'Jeep' 'FISPA' 'BYD' 'yuejin' 'Yamaha'
 'Hafie herbin' 'Slcoda' 'Emgrand' 'JMC' '206' 'Cm' 'Jetta' 'Renaut'
 'Boxer' 'Infiniti' 'Accent' 'Hummer' 'Kumatsu' 'Maruti 800' 'Chinray'
 'range rover' 'Mahindra' 'Pegeut' 'CAKY' 'Leon' 'sym' 'Subaru' 'Haunghai'
 'Triumph' 'Vedette' 'Clio 2' 'Volvo' 'New king' 'فورس فاڨن' 'Mini'
 'Range rover' 'GMc' 'Yuejin' 'Forgonet' 'Clio' 'sam' 'Jocy'
 'willys hochskis' 'جريتويل' 'شفرولي افيو لاتوت' 'Nitro yamaha' 'Creta'
 'شفرولي' '0771720850' 'Symbole' 'Lancia' 'Kawazaki' 'Chérie' 'Foryota'
 'Dodge' 'Golf 2' '308' 'Shacman' 'huanghai landscape' 'Citroën berlingot'
 'Voila corsa' 'Suzouki' 'Nouvelle' 'Motom' 'Clio3' 'Benneli' 'moovway'
 'نشري سيارات' 'Polo' 'Mpm' 'tl' 'Pikanto' 'Smart' 'Tfafic' 'Rono' 'DFAC'
 'Shineray' 'Lincoln' 'VMS' 'Keeway' 'V-max' 'SANIYA' 'Herbin' 'Pugeux'
 'RUNUT' 'Vw' 'Grand tigre' '305' 'Ronaut' 'A3' 'GMS' 'QQ nouvelle'
 'Pièce Kia' 'FOTON' 'Peugeot 206 HDi 2 litre' 'Chimano' 'ولينڨ'
 'Berlingoo' 'Clio 4 GTLine' 'Saipa' 'Renault 4' 'Hammer' 'Chiniray'
 'Z800' 'كليو 4' 'GMC' 'Peujeot' 'Mercedes Benz' 'Sokon'
 'Sym citycom 300i' 'Ivoc' 'Megan' 'Kawasaki' 'Forland' 'Renault symbol'
 'Renault compus' 'Range Rover evoque' 'Ona' 'سيارات أكسدونتي ورفورم '
 'Rifter ' 'سنكوم' 'Sheniray' 'Hafie' 'Partnar' 'Pigout ' 'BAW ISUZU  '
 'Re nault' 'changhe' 'Symbol' 'Touran' 'Gonw' 'Duster' 'Fiat Punto 2'
 'هيونداي' 'renaulte' 'Passat' 'فيات ' 'Voiture' 'SOKON' 'Mégane'
 'Niva 1600' 'Congo' 'i20' 'Boxar' '207 ' '2006' 'CHANA Q20' 'بوجو 308'
 'Scinic' ' Defac' 'Yasuzy ' 'yavuz' ' Rouno' 'Lion Fr' 'Megan 3 '
 'Peugeot 406' 'peugot ' 'Motos-scooters' 'ATA' 'Hors bord rocca'
 'NEW king' 'ايبيزا' 'Renu kongo ' 'Dacia stpway sandero ' 'رنو'
 'Lagun carte' 'Samand' 'MEGANE' 'شفرولي اوبترا' 'Logan dacia'
 'سامبول نوفال' 'كونقوا' 'assurance saa' 'Samond' 'بيجو ' 'Great wael'
 'Seat Ibiza Fully 2013' 'Moto gevatti zz  250 cc ' 'alto' 'Toyouta'
 'Peugeot 301 hdi' 'Crysler' 'Mercedas' 'Jinbei' 'Berlingo  '
 'Berlingo c3' 'Golf 3' 'شيري ' 'Free lander' 'Leyon ' 'Camion' 'HUANGHAI'
 '6' 'Hayfi' 'Kongo ' 'Logan' 'Other' 'Picanto ' 'RUNAULT' 'IBIZA'
 'TIGUAN' 'clio 3' 'كليو كلاسيك' 'QIQI' 'فيات' 'ابيزا' 'CF MOTO'
 'شراء السيارات' 'سيات' 'Cupra' 'shacman' 'Changhe' 'CUPRA' 'Shinrey'
 'Land Rover Ranger Rover' 'Harbine HIFI' 'Corvette' 'K66'
 'Dfsk dfm chana hafei sokon jenbei New king' 'handicapé' 'Renalt'
 'Formentor' 'رباطة botleuse 2023' 'Whistle tour' 'تيوتا' 'Pigo'
 'رباطة بوتلاز 2023' 'Acheter les voiture' 'نشري سيارات أكسيدونتي'
 'Gonow dfsk hafei dfm chiri' 'Clio 5' 'Jetour' 'Saab' 'كيا' 'Lagauna'
 'Megane 2' 'Tayota' 'Shacman x9' 'Wuling' 'Kawawsaki' 'foryota admiral'
 'ستبواي' 'Kongoo' 'Berlingo' 'Niva' 'Tracteur' 'Fiat doblo' 'ميقان' 'OMG'
 'JETOUR' 'CHANGHE' 'Mercedes benz' 'Gonaw dfsk chiry haefi' 'Reuneolt'
 'رونوا' '406hd' 'Okinoi' 'Marouti' 'Kongo' 'W Max 300' 'Yamha' 'Peogeout'
 'Runo' 'Golf 8' 'Clark' 'cirta' '207+' 'Runeut' 'Gol' 'Migan biri'
 'Range Rover' 'Marcury' 'Lexus' 'cimca' 'Saxo' 'Passat Baccarat plus'
 'Cooper' 'Rétro chargeur' 'Brp' 'Qashqai' 'kia Picanto' 'GREAT WAL'
 'Faita' 'شيري يوكي فريقو' 'Seat ibiza' 'بريونس' 'I10' 'رانج روفر'
 'SYM ORBIT 2' 'رونو اكسبراس' "Arkaha 140ch 3'1 TCE RSLine" 'picanto'
 'Siat' 'سكودا' 'Licence el moujahidin' 'Toyota land cruiser V8'
 'Achat voiture' 'Safran' 'passat' 'Dawoo' 'ويلينق' 'افيو' 'Renault Clio'
 'jinbei' 'Simca' 'Moto' '4x4' 'Forgon' 'Ecko denaa' 'Ecko dena' 'Chine'
 'Compis 1.5 dci' '208' 'Huangai' "'" 'Hafei dfsk gonow' 'تڨوان' 'هايفي'
 'suzki' 'CATERPillar' 'Sonacome' 'chana baic' 'قريتوال' 'Geret wall'
 'كليو كومبوس' 'Fiat tipo life' 'Charita' 'Jaquard machinary' 'j5'
 'ماروتي 2007' 'إفيكو' 'Siet' 'Cloi 3' 'Peaugot' 'Scanner automobile'
 'Reprogrammation ' 'Volksvakan' 'سيثيرنا تراكتور'
 'Dfsk faw gonow chana hafei 7plas faw v70' 'Huahe' 'jeep willys' 'اكسنت'
 'Citroën c3 aircross' 'Tang bao' 'Passât' 'لادة' 'شانا' 'فيات ديكاتو'
 'شيني شكمان' 'Gmc' 'Lion' 'wuling' 'Cielo' 'maroti' 'Lavuz' 'Shenray'
 'symex' 'BYD F3' 'Teryos' 'Reunault' 'Mercedes classe a180' 'Tucson'
 'شيري يوكي dfsk dfm gonow' 'Great' 'Pegeout' 'ibiza' 'foryota'
 'Vespa Piaggio LML' 'Kiz' 'Haima1 alto QQ maruti' 'Scanner pour' 'داسيا'
 'Toyora' 'Sim' 'Symlux' 'Volswagan' "Licence d'importation" 'Iveco'
 'Cuxi 2' 'Licence Moudjahidines' 'Achat tout les voitures accidentée'
 'Dfsk gonow hayfi' 'Sandiro stepwey' 'Saangyong' 'Tanduz' 'InfiniFit'
 'Runult' 'Vmax' '308 Gt' 'Volskwagen' 'Motos' 'Dfm double cabin'
 'Clio Japon' 'سياة' 'citroene' 'نيفا' 'iveco' 'Stapway' 'Alto' 'Opal'
 'Gili' 'Dacia Logan MCV' 'Seriz' 'Fiat 500' 'تويوتا' 'Fiat doublo'
 'Great wall' 'Acheter les voiture accidenté' 'ولينغ' 'وليڨ' 'Sachs'
 'Rolls Royce' 'Cady' 'كاين ابلات فورم 120م' 'vms' 'Leon fr' 'Peugeut'
 'شوفرولي' 'Pajero' 'Clion 3' 'Haifi' 'Peugru' 'RANGE ROVER' 'ZM'
 'Sandero' 'سيمبول' 'Gnaw' 'Fiat Tipo+' 'sorento' 'Gonaw' 'Clio 3'
 'سامبول' 'VW' 'GAZ  GPL BARAKI ' 'Dilta' 'Sait' 'Renlte' 'MeGan biri' 'ب'
 'Song young' 'XINKAI' 'كونغو' 'Benni' 'Gonow dfsk dfm sokon' 'Aveo' 'WV'
 'Volks wagen' 'papier' 'Hyundai santafé' 'Rone' 'JAGAR' '406'
 'Range  rover' 'Peugot' 'Peageot' 'bfm' 'clio campus' 'Scoda' 'TIXON'
 'Golf 7' 'sportage' 'كليو فراشة' 'Panaria' '207' 'Master' 'Sitrouine'
 'Sam' 'Zastafa 128' 'DFSK gonow hafei dfm faw chana hamar Sokon'
 'Gret wall' 'Golf8' 'SYMBOL' 'range rover évoque  7 rapport' 'Tmax 530'
 'Gian' 'Kongor Renault' 'Runault' 'كوكسي' 'Megane 3' 'Buggi' 'CLIO  2'
 'Paratnir' 'اودي' 'farad' 'sokon' 'hymex' 'Yuedjin' 'Gonwo' 'Benelli'
 'FAW bestune t55 1.5 turbo 169ch المجمولة' 'Tipo' 'رخصة مجاهد' 'Pegot'
 'Lougan' 'Peagaux' 'Clio 5 rs line' 'Logan stepway' 'Super 5' 'Sangyong'
 'Toyota helix' 'Dfsk sokon' 'Hyundai h1' 'شيري' 'Nissan tida' 'Options '
 'بارتنار تيببي' 'Hibao' 'DS Automobiles']

In [160]:
copy['Engine Capacity'] = copy['specs_car_engine'].str[:3]

In [161]:
copy['Engine Capacity'] = pd.to_numeric(copy['Engine Capacity'], errors='coerce')
copy.loc[copy['Engine Capacity'] > 26, 'Engine Capacity'] = pd.NA

# Calculate the mean of the "Engine Capacity" column, excluding NaN values
mean_value = copy['Engine Capacity'].mean(skipna=True)

# Fill NaN values in the "Engine Capacity" column with the calculated mean
copy['Engine Capacity'].fillna(mean_value, inplace=True)

In [162]:
print(copy['Engine Capacity'].value_counts())

Engine Capacity
1.61063    16608
1.60000    14712
2.00000    10372
1.50000     8660
1.20000     7530
           ...
5.10000        1
0.70000        1
3.90000        1
6.20000        1
0.11000        1
Name: count, Length: 70, dtype: int64

In [163]:
copy.columns

Index(['id', 'title', 'price', 'specs_annee', 'specs_car_engine',
       'specs_couleur_auto', 'specs_papiers', 'specs_kilometrage',
       'specs_marque-voiture', 'specs_modele', 'specs_finition',
       'specs_energie', 'specs_boite', 'options', 'Engine Capacity'],
      dtype='object')

In [164]:
print(copy[['id', 'title', 'price', 'specs_annee', 'specs_car_engine',
       'specs_couleur_auto', 'specs_papiers', 'specs_kilometrage',
       'specs_marque-voiture', 'specs_modele', 'specs_finition',
       'specs_energie', 'specs_boite', 'options','Engine Capacity']].dtypes)

id                        int64
title                    object
price                   float64
specs_annee               int64
specs_car_engine         object
specs_couleur_auto        int32
specs_papiers           float64
specs_kilometrage       float64
specs_marque-voiture     object
specs_modele             object
specs_finition           object
specs_energie           float64
specs_boite             float64
options                   int64
Engine Capacity         float64
dtype: object

In [165]:
copy.describe().T

,count,mean,std,min,25%,50%,75%,max
id,81651.0,3.801315e+07,3.610755e+06,5065853.0,37257272.0,38785328.0,4.046485e+07,4.114435e+07
price,81651.0,1.364176e+17,3.521142e+19,0.0,30000.0,1310000.0,3.000000e+06,1.000000e+22
specs_annee,81651.0,2.012781e+03,8.432619e+00,1922.0,2009.0,2014.0,2.019000e+03,2.024000e+03
specs_couleur_auto,81651.0,1.083955e+01,7.801758e+00,0.0,3.0,10.0,1.500000e+01,3.100000e+01
specs_papiers,78078.0,1.075937e+00,3.305852e-01,1.0,1.0,1.0,1.000000e+00,3.000000e+00
specs_kilometrage,77616.0,1.289683e+28,3.589423e+30,-1340000.0,468.0,97148.0,2.300000e+05,1.000000e+33
specs_energie,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
specs_boite,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
options,81651.0,7.578144e+00,5.193321e+00,0.0,2.0,8.0,1.300000e+01,1.400000e+01
Engine Capacity,81651.0,1.610630e+00,6.185367e-01,0.0,1.4,1.6,1.610630e+00,2.500000e+01

In [174]:
column_values = copy['specs_car_engine'].dropna()  # Drop NaN values in the column

# Initialize an empty list to store the unique strings separated by a space
space_separated_strings = []

# Iterate over each value in the column
for value in column_values:
    # Split the value by space
    words = value.split()
    # Check if there are more than one word (separated by space) in the value
    if len(words) > 1:
        # Add each separated string to the list (excluding duplicates)
        for word in words:
            if word not in space_separated_strings:
                space_separated_strings.append(word)

# Print the list of unique str
print(space_separated_strings)

['1.5', 'DCI', '90ch', '1.6', 'MPi', '2.0', '150ch', '4WD', 'HDI', '92ch', '1.2', 'ess', '16V', '75ch', '72ch', 'TDI', '110ch', '80ch', '102ch', '143ch', '1.9', 'tdi', 'Dci', '85ch', 'dci', '0.8', '38ch', '1.4', '1.8', 'D', '65ch', '140ch', '103ch', '100ch', '1.1', '68ch', '84ch', 'VTI', '4X4', 'VCDI', 'BVA', '1.3', 'VVT', '94ch', '250', 'CDI', '204', '112ch', '55ch', 'DCi', '2.5', '171ch', '105ch', 'Ecomotive', '2.8', 'TD', '115ch', 'VVTI', '99ch', 'VM', '425', 'FAP', '115', 'CH', '80', 'ch', '47ch', 'CVVT', '87ch', 'ESS', '130', 'cv', 'hdi', '4X2', '91ch', '0.9', '34ch', '83ch', '71ch', '95ch', '60ch', '1.0', '70ch', '120ch', '109ch', '2.1', 'DT', 'CRDI', '177', '4x4', '200chv', '82ch', 'DSG', '6', '69ch', '16', 'dti', '63ch', '1,6', '53', '2x4', '127ch', 'S90', '_1.8', 'DDTI', '174ch', '170ch', '184ch', '220', '177ch', 'TDi', 'BlueEfficiency', 'simple', '130ch', 'GTI', '202ch', 'H', 'i', '92', 'Ch', 'V16', '2.2', 'SD4', '-', '190ch', 'Tdi', 'Bosch', 'Sans', 'tirbo', '85chv', '197ch', '128ch', 'chv', 'TDCI', 'd', '46ch', '78ch', 'la', '100', 'e-HDi', '98ch', 'Quattro', '16v', '136ch', 'Crdi', '1.4l', 'DDIS', 'turbo', '155ch', 'PICK-UP', 'E-XDI', '129ch', '81ch', '1.6l', '123ch', 'BlueEFFICIENCY', 'Turbo', 'Diesel', '110', '3.0', 'V6', '194ch', 'غاز', 'GT', '107ch', 'A45', 'AMG', '360ch', '4MATIC', '200', 'chevaux', '97ch', 'MPI', 'HTP', 'S-Tronic', 'vti', '95', 'DTR', '4x2', '176ch', 'BVM', 'e', '96ch', '245ch', 'ddti', '210ch', '88ch', 'dCi', '2.3', '125ch', '86ch', '113ch', 'MT', 'STD', 'gpl', '1,5', '1.0l', '52ch', '2.5L', '7', '163ch', '58ch', '7cv', '2.0TDI', '140', '2l', 'Bon', 'état', 'Iveco', '204ch', '4', 'Matic', 'vvt', 'tsi', '245', 'essence', '2.0.', '4*4', 'سامبل', 'E-HDI', 'TSI', '160ch', 'TFSI', '300ch', '114ch', 'D4D', 'Hdi', '2L', '90', '100Ch', '3', 'cylindre', 'puretech', '130CH', 'boîte', 'EAT8', '2', 'l', '143', 'DTI', 'SDI', '64ch', 'TD4', '93ch', 'AWD', 'TDI177', 'TCE', '117ch', '65', 'plombier', 'Moteur', '8', 'diesel', '185ch', '2.0lt', '62ch', 'دوتس', 'بياما', '200ch', 'crdi', 'A250', '(4x4)', 'CV', '104ch', 'La8', '54ch', 'tce', '1,4', 'sanple', 'Automatique', 'STT', 'GPL', 'HDi', 'E', 'cdi', '211', '2.5l', 'C', '138', '1.6HDI', '122ch', '2.0L', '73ch', 'xDrive', '25d', '231ch', '110cv', '75', 'sampl', '211ch', 'THP', '105chv', '150', 'ALLURE', 'T9', '115C', 'لا8', '1.9D', '320', '2.0l', '285ch', 'valve', '2.0Tdi', '3.14', 'A200', 'DSG6', 'SR', 'محطوط', '1.6hdi', '1.9Dci', '130chv', 'CTI', '1.7', '136', '112', '74ch', 'FSI', '30ch', 'Ess', '144ch', '0.6', '29ch', 'M20b20', 'chasseur', '110CH', 'Toyota', 'HILUX', '5', 'ligne', 'encien', 'semi', 'injiction', '_130', 'LINE', '+', 'La', 'ED4', '1.5dci', '105', '106ch', 'td', 'DSG7', '175ch', '197', 'جديد', 'cylinder', '220ch', 'v16', '124ch', '150CH', 'TCi', '111ch', 'Hd', 'SI4', '241ch', 'quatro', 'L', 'v', '.', '3pip', 'Tsi', 'TDI2.0L', '1.25', '156ch', 'sdi', '240CH', '107', '203ch', 'رونو', 'R21....1.8', '180ch', 'moteur', 'r21', '1,7', 'Ti', 'VCT', 'dsi', 'hd', 'litre', 'boite', '133ch', 'énergi', '116ch', 'sampel', '115CH', '240Ch', 'Cupra', 'Essence', '265ch', 'XDI', '141ch', 'cilendre', 'CVT', '124', 'CGI', 'cari', '118ch', 'MZR', 'CD', '270', 'DOHC', 'D-CVVT', 'Mercedes', 'sans', '92cv', '2.0tdi', '150ps', 'أو', 'V8', '110tdi', '165ch', 'dt', 'hp', 'S', 'افكو', 'TCI', 'disel', '1,9', '6rapport', 'GTS', '20d', '311', '10', 'انجكسسو', 'mpi', '193ch', '5.6', '400ch', 'Jtd', '5.0', 'V10', '313ch', '77ch', '1.5DCI', '116', 'simpl', '4.9', 'Hybrid', 'Rzh1', '12v', '4MOTION', '2لتر', '135ch', '45ch', '85', 'cylindres', 'HD', '2.9', '12V', '35', '200cv', '258ch', 'PDK', '125', 'شوفو', 'بنزين', '240', 'aveo', '2،2', '11', 'VR6', 'sDrive', '18i', '1.9TDI', '180', '4.0', 'ماوروتي', 'زان', 'Fayal', 'l1000', '113', 'HAIMA', 'boch', '190', 'nv', 'blue', '60', 'Chv', '2،5', 'ايفيكو', 'انصيا', 'Accent', '170.', '115cv', 'N55b30', 'twin', 'énergie', 'EF7NA', '350', '4Matic', 'محرك', 'ماشي', 'مفتوح', 'ديبي', 'دسيقمو', '178ch', 'refait', 'neuf', '10/10', '120', '43ch', '40ch', '270ch', 'R20', '48ch', '1.3L', 'Baz', 'clim', '1.9dci', '3.2', 'auto', '76ch', 'سن', 'تيربو', 'ta3', 'sepranteur', 'حصان', 'Yamchi', 'mashalh', 'Roh', 'win', 'habit', '163cv', '42', 'CDTI', 'cilindre', '(140ch)', '67ch', '91', 'jtd', 'TSi', '290ch', 'vvtI', '87', '0.2', 'GD', 'TDI2.0', '140CH', 'v6', '101ch', '138ch', '145ch', '/110ch', '280ch', '90CH', '2.OL', '90chv', 'doit', 'مرسيدس', 'صون', 'تربو', 'ثلاث', 'اسطوانات', '2.0e', '6.2', '436ch', 'سيارة', 'طالبان', '92cc', '108ch', '115chv', 'اكسبراس', '74', 'A170', 'Family', '240ch', 'سون', 'cheveau', 'dsg', 'An', '1', 'chvx', '184', 'GDI', '340ch', '2WD', '50ch', 'Type', '9', 'sylender', 'en', 'جونيور', 'un', 'seule', 'arbre', 'a', 'came', 'GTD', 'mercedes', 'Om', '651', '3.5', '205CH', 'Ch200', 'Dsj7', 'liné', '27ch', 'tdci', '1.4simple', 'متور', 'بكرة', '3.4', '179ch', '1.9d', '4×4', 'مرسيداس', '5تيربو', 'silndar', 'r25', 'tcdi', 'Sd4', 'VTS', 'sb', '225', 'Multitronic', '1.5DCi', '2.4', 'francais', '..jamais', 'tefta7', 'ديزل', 'CRDE', 'gtd', '280', 'EDC', 'Dzl', 'turbou', 'pack', 'm', '138/', 'M6', 'Line', 'A220', 'Cooper', '300d', '275ch', '40', 'quattro', 'DTEC', 'cheveux', 'S&S', 'Style', 'BlueTEC', 'TS', '79ch', 'فراشة', 'nourmal', 'sambel', 'vvti', 'bx', '121ch', 'Fire', '1000', '/', 'TURBO', 'gpl2020', 'لتر', 'ess1.4', 'carburateur', '170', 'LA', 'Roadster', 'esse', '200cc', '04', 'MONTION', 'ش', 'د', 'ا', '1-', 'silandre', 'toi', 'ايسونس/غاز2020', '1,5.', 'dci.', '100chv', '4,5', 'GSE', 'golf', '110ch.', 'JTD', 'Express', '76', 'Ecoflex', 'Vti', 'بلا', 'موتور', 'BleuEfficiancy', 'DSJ', '53ch', 'D4d', 'tci', '525d', '218ch', '300', '645ci', '4.4', '355ch', 'Gtl', 'grand', 'pali', '37', 'chovo', '4l', 'cleaon', 'avio', 'Hdi115', '.5', 'مينقص', 'ميسخن', '220d', '190cv', '235ch', 'Edition', 'goulf', '165', 'gaz', '2•2', '102', 'Mhtot', 'machi', '10alf', 'مضاف', 'SD', 'supercharged', '15', 'dic', '1.5ess', 'chipy', 'MJET', 'BX', 'افيو', 'MOTEUR', '450', 'v8', 'WRANGLER', 'UNLIMITED', 'SPORT', '150Ch', 'litres', 'disiel', 'ديزال', '3,6', 'CRD', '3.9', 'lase9', '1,2', '210', 'cc', '173ch', '1.6HDi', 'vdt', 'Td', '158ch', '204cv', '310ch', '48', '0.4', '420d', 'نوفو', '1.5dsi', 'مشاء', 'الله', 'faire', '4.7', 'HdI', 'Q5', 'coupi', '42TD', '.4×4', 'crd', '3.6', '420', '1,20', 'V5', 'M57', '132ch', 'tirbou', 'raport', '1.4.', 'سمبول', '205', '122', '82', 'silanedar', 'VTEC', 'S300', 'hybride', 'BleuEfficiency', 'Mazda', '160', '185', 'L10', 'اوفار', '143chv', 'ديازال', '1٫9', 'Safire', '92chv', 'special', '2.0t', '253ch', '75CH', '45', 'CDi', '84', 'choveux', '128', 'GTL', 'vitesse', 'VIII', 'crédit', '2litre', 'شيفروليه', '2.0L.', '12', 'tarbo', 'expresse', 'Multi', 'Air', 'DLX', '4.2', 'TD42', 'DC', 'sample', '142ch', 'شفرولي', '5.7', '395ch', '1.6Hdi', '6سيلاندر', 'نتع', 'تويوتا', 'كواستر', 'ماهوش', 'd65', 'essn', 'Motor', 'diasel', 'Gtd', '350ch', '83cv', '136lter', 'energy', 'دسي', '155CHV', '123', 'مازوت', 'جينيور', '2500', 'cr', ',', 'CHEV', 'bva', '2.7', '4motion', 'Ch,', 'V', '137ch', '520d', '300D+', 'نبيرا', '4700', 'efi', '32', 'soupapes', 'cdti', 'مارسوداس', '5ليني', '2.8L', 'Normal', '150cv', 'style', '109', 'européenne', '194', 'line', 'Tiptronic', '2.2cdi', '1.6mpi', 'etat', 'DOHC16', 'valves', '1.8.', '1.6essence', '163chv', '75cv', 'Bx', 'Nu', 'I-4', 'injection', 'directe', "d'essence,", 'DACT,', 'soupape', 'variable', 'DÉMAREUR', 'avant', '19', 'dz', 'TB', '1.3cdti', 'thp', 'Cdi.', 'C220', 'I', 'bleu', '256ch', 'V8.', '100Chvx', '320d', 'EfficientDynamics', 'CrD', 'turbeau', '45فاير', '2,8', 'Quatro', '95CV', 'T', 'تاع', '406', 'pure', 'tech', 'HP', 'suspension', 'بدون', '4matic', '1.6L', '4cyl', 'Blue', 'BVM6', '4*2', '515', '204chv', '12ch', 'DCT', '2.0HD', '205ch', '41ch', 'Mjet', 'MPFi', 'vcdi', 'chev', '204CH', 'QUATROO', '110h', '200CH', 'Cheveux', 'd’ci', '5cyl', '400Cv', 'B', '1600', 'C.D.I.', 'اكس', 'براس', '2,5', '85cv', '75chv', 'BlueHDi', '1,8', '1.8L', '190حصان', 'logan', '2012', '1.6ess', 'c', '143c', 'spécial', '(', '2.7l', 'سلاندر', '1,0', '55', '151ch', '4500', 'vtc6', '3,5L', 'BlueTec', 'Bluemotion', 'SCTi', 'EcoBoost', 'M52', 'B20', 'g60', '1.2/16v', '***عام', '2004', 'D4', '290', '___', 'Xli', 'BlueMotion', 'Di', 'DI-D', 'Common', 'Rail', 'سيلاندر', '131', 'fait', 'caré', 'R50', '500', '388ch', '164ch', '1.1ess', 'MATIC', 'fors', '1.87', 'dci1.9', 'sanbel', 'diazal', '131ch', '100CH', 'suzuki', 'GLS', 'A6', 'deassal', 'DVVT', '2.0HDI', '110Ch', '1.2i', '2.00', 'De', 'l&#039;usine', '7rapport', 'Deisel', 'لسوني', 'فاير', '47', '3.5L', 'DACT', '24', 'HDI.', 'Mutsibishi', 'L200', 'Chain', 'plastique', 'fsi', 'gas', 'ايسونس', 'R19', 'type2', 'automatique', '2.1td', '435ch', '8cv', 'automat', 'Dsi', '86', '24ch', 'Sb', 'Vicor', 'dfm', 'Lion', 'fr', 'boit', 'manyal', '2.2hdi', 'R9', '.100', '57ch', '1.4ess', 'DURAMAX', 'DIESEL', 'MZ', '1.2ess', '8v', 'r', '25', 'HSE', 'sport', 'Tub', 'L8', '1.2/', 'va', 'VMAX', '2021', '178', 'اربع', 'RANG', 'ROVER', 'G.P.L', 'esd', 'Johnson', '70', 'dzl', 'المحرك.جيد', 'جدا', 'TCe', 'Litres', 'R25', 'Rd', '28', 'es', '163', '1.6D', '1.4HDI', '7ch', 'Mitsubishi', 'bleuhdi', '150che', '1.33', 'cheveaux', 'dsia', 'étiquette', '89', '111', 't', '112cv', '1&#039;6', '4أسطوانات', 'لية', '16صمام', 'e-XGi', '5.2', 'Dsl', 'Cd', '20', '251Chv', 'تيبو', 'Deux', 'Collin', 'issence', '20.2', 'h', 'La.', '8simple', '128cv', '44ch', 'essnce', 'CHS', 'spesiale', 'R18', 'type', 'كات', 'بارتنار', '67حصان', 'hadi', 'Dfsk', '4.5', '30d', '238ch', '161ch', 'ماروتي', 'avec', 'Cdi', '2.30', 'Mazot', 'CHANA', 'CABINE', '1.0mpi', 'FIH', 'GAZ', 'Moteur.', 'L4', '2.4L', 'issuzi', '6v', '313', 'motur', 'R21', '1.8esans', '+gpl', 'Boite', 'bas', 'Om603', 'Tce', '51ch', '9ch', 'diezel', '-1.2', 'essance', 'اصانص', '300t.', 'Stage', '1+', '2.9لتر', 'تيربوا', 'شوفرولي', 'JPL', '8.0', '1001ch', 'Cilendre', 'Tci', '12Dw', 'son', 'spicial', 'Dcl', 'iveco', 'sant', 'ess75che', 'coulé', '310', '009', 'ps', '10ch', 'Gtx', 'mkalib', 'One', '98', 'Minimalist', '75Ch', '116hp', 'ESSENCE', '450ch', 'kouchi', 'مش', 'عالاف', '140Ch', '405', 'اسونس', 'Moteur:', 'tt', 'opt', '4ch', '2.', '126ch', 'Esd', 'Gpl', 'Lifan', '2.5dsl', 'tfsi', 'E220', '4selander', 'motion', 'أسطونات', '142', 'cvt', 'carré', 'e-torq', 'BVA6', '1.0tce', '1.0.', 'Mpi', 'cho', 'A180', '184crdi', 'Golf', 'R-Line', 'ACC', 'PDC', 'Un', 'manuelle', '90cv', 'etorq', '92CH', '1.3.', 'Sce', 'CRDi', '99', 'sanbl', 'tach', 'ddis', 'de', '6cylundr', 'acteco', '1.0tsi', '110chv', 'ROC', 'ltr', 'tfc', '115sh', '100cv', 'Clio', 'SCe', '1.9DCI', '3cylindr', 'd-cat', '11o', 'TIPO', 'Layf', '1.5L', 'D15Y3', '220D', '265cv', '1800', 'HIGH', 'OUTPUT', 'QUATTRO', '300cv', 'X-DRIVE', '300D', '272cv', 'de30', 'كيلاصة', '2.l', 'corola', 'vitesses', '183ch', '03L...', 'ماشالله', 'دار', '147', 'MultiAir', 'Tfsi', '143Ch', 'sce', '256', '150chv', '4montion', 'Cv', '115CV', 'Meter', 'cvh', '103', '197cv', '1.4L', '95CH', '186', '95Ch', '.غاز', 'tece', '2litr', 'Dsg', 'bi', '213ch', 'BVA10', '4cy', 'mater', '190.', 'TGE', 'tce100ch', '2li', 'slnd', 'Dti', '1.6.', '101', '330', '130CH.', 'etsi', 'fiha', 'tce.', 'جيام', 'fire', '2,2hdi', 'GTE', '646', 'TSI.', 'Xdi', '140che', '292', 'N47', '5L', 'Xdrive', '258', 'froi', 'mhev', '158chv', 'ch.', 'S-tronic', 'Motor1.5', 'double', 'réservoir', 'Chevaux', '68', '320ch', 'L150ch', '230E', 'tse', 'rapports', 'D.C.I', 'ibleu', '4.L', '1.00', '65cv', 'John', 'Works', '192', '192ch', 'YD', 'et', 'Steptronic', 'Sport', '1.5Dci', '150CV', '2,0', '78', 'A250e', '218', '275chv', '184Chv', 'RAPPORTS', 'Ô', '174', '154ch', 'matic', '172', '324', '1.o', 'multiair', 'Hybride', 'rechargeable', 'HLBMT', '4M', '176TDID7i', '585ch', '285', '115Ch', 'D-cat', '177cv', '56ch', 'dsg95chv', '136CH', '42ch', '150hp', '150cho', '200Ch', '1.0MPI', '65Ch', 'd4d', '118', '100cj', '1/9', 'مازط', 'سمبل', 'e-Torq', 'BOSCH', 'DI', '252', '2,2', '(150ch)', '(Automatique)', 'torq', 'esens', 'sept', 'ESS/GPL', 'DOUBLE', 'ARBRACAMME', '1.0L', '100CV', 'DIG-T', '114', 'symbol', '2023', '54', '156', '140CV', 'e-HDI', 'BVR', 'multiget', '/130chv', '155', '420CH', '90hdi', 'dCI', 'mazot', '/3.0', 'Tdi150ch', '11cv', 'silainder', '110CHV', 'militaire', '325i', 'TGDI', 'dsg7', 'chevaix', 'Yaris', '0.1', 'Eco', 'TIS', 'WRX', 'STI', 'D65', 'GPF', '2.o', 'Expresse', 'marcedes', 'c220', '318i', 'm43', '169ch', 'SMG-C', '92CV', '181ch', 'multijet', 'Ddi', 'SE', 'pur', 'teck', '0.7', '550', '4.0TDI', '1.9tdi', '117', '25e', '1.9dti', 'Ecoboost', '450hp', '1.', 'MultiAire', 'hybrid', 'ch110', '75che', '180chv', '1.5.', 'Mivec', '2,7', '180CV', '09', 'Rapports', 'pip', 'Gbl', '2,0L', 'ايسانس', 'Motion', '315cv', 'CHV', '95cv', '1.4tdi', 'JX4D25', '146', 'cH', '2.5.', 'C250', '605ch', '2.7D', '1.9dt', 'farwa', '1.0ess', '39ch', '530d', 'm57', 'تربوا', '32صون', '19dci', 'la130', 'Tse', 'purtec', 'tfsi.', 'Life', 'Etorq', 'E-Tsi', '1.9.d', 'smpl', '1.3ess', '245Ch', 'Electrique', 'hv', 'eTSI', 'Essence,', 'Gdi', '0,1', 'مرسيديس', 'لين', 'BVB', 'اتوس', 'Bosh', 'Xs', ',1.3', 'ليسونس', 'xdi', 'PIPES', 'eTorQ', 'tcr', 'SuperCharged', '390ch', 'cylinders', 'trbou', '122cv', '1,3', '40TDI', '(150', 'ch)', 'la7', '177CH', '5line', '4.0L', '2.2TDI', 'FR', 'cv.', 's3', 'Rs', '1.2L', 'A', 'brabus', 'ème', 'DIESSEL', '137', '480', 'V4', '130cv', 'Cylindres', '264ch', '1،9', 'T12', 'h.d', '182ch', '200hp', '115h', '1,5Dci', 'اينارجي', 'trubo', '1.3tce', '510ch', '5.7L', '575ch', 'chaîne', 'métallique', '1.0I', 'T-GDi', '103Ch', '193', '.100ch', 'ecoboost', '260', 'TUROBO', 'rapport', 'PureTech', 'CHEVAUX', 'purtech', 'Zd30', '1.9.', 'DGS', 'TdI', '200CV', 'BioEthanol', 'hdi150', '323ch', 'LITRE', '122CH', 'tuerbo', 'vgt', '1.5tsi', '1.6crdi', '1.9dci.', 'L.', 'Speedtronic', 'T-GDI', 'trend', 'dc', 'Vvti', ',T', 'shine', 'Purtech', 'puretch', 'ctv', 'R', 'BB22', '1.5essence', '+Gaz', '1،6.', 'Cheuve', 'cerdi', 'turbu', 'std', '129', '172cv', '177Ch', '3.6L', 'energie', '1.2l', 'Mild', 'efic', 'ESSENCE,', 'HYBRIDE', 'ETSI', 'OPF', 'life', '110CV', 'point', 'zéro', 'M50B25', 'vanos', 'etro', '2litres', 'gazoil', 'calendrier', '1,', '6hdi', '220.d', 'anjacsion', 'Rline', 'Vgt', '2009', '85C', 'chveaux', 'dvvt', 'etorque', '4*2=', '5لين', 'Ford', 'Sierra', '(111', 'cheveau)', 'L,', '115ccv', '2,0Hdi', 'Kangoo', 'Hdi90ch', '30', 'EAT', '204Ch', 'E.TORQ', 'EVO', '11och', 'phase', 'Swift', 'TFSi', 'PURETECH', '1L', '207', '1’5', '2.2L', '1hz', 'fg105', 'VVTi', '160cv', 'électrique', '1.6dz', '65d', 'td4-2.2td150ch', '1.0T', 'selnder', '-16V', 'tout', '1.6VVTI', 'hdi92', 'dgs', 'ritmo', 'Tip', 'motuer', '67', 'ecodynamique', '1.6TDi', 'cheveu', 'Puretech', '175', '234ch', '91CV', '3L', '24v', '1-7', 'creta', 'Cho', '2014', 'L130', 'DsG', '147ch', 'plus', 'agg', 'hdi/112ch', '150حصان', 'Peugeot', 'Aveo', 'لا', 'Chev', '208ch', 'bvm62.2', 'hse', 't42', '4×2', 'Gt', '93', '2eme', 'génération', '2.177', '_47ch', '-140', 'Auto', 'Special', '155cv', 'ds', '2litter', '47000', '1,5dci', '2littre', 'لباز', '73', 'multair', 'dci1.9.', '125cv', 'td4', '6.0', '1.3l', 'ch320', '180d', 'A35.', 's-tronic', '150ch.', 'Faw', 'Shv', 'Energie', 'polo', 'M', 'انرجي', '1l', '63', 'Tcdi', "1'6", 'Gti', 'Aggi', 'X', '320dA', 'Six', '2.0ess', '115gti', 'aggi', '150HDI', 'SCE', 'éditions', '2.2D', '1.0TCE', '/200ch', 'mphi', '252ch', '117chv', 'révisé', '118d', '3.8', '530ch', 'multiAir', '1,9dci', 'ESSENCE/', 'HYBRID', '-90', 'lettre', '1.5/150', 'puretach', 'cielo', 'carrés', 'Bva', 'lhdi', 'C12', '105chou', ',2', 'W', 'Max', 'tirdo', '1.5vvt', 'FL', 'che', 'sirgaze', '🐎', 'ccv', 'bvb', 'xli', 'srdi', '141', '272CH', 'dci125', '120cv', 'mazda', '130Ch', 'spéciale', 'B5', "1'6.", '16ف', 'SEMPEL', '1.6MJET', 'turb', 'zero', '1٫6hdi', '1.3Tce', '350D', 'TDI.150', 'ST', 'cilindres', '1,5DCI', '5cylindre', 'd.c.i', '265', '240hse', '7PL', 'eturk', 'Ch110', 'D4T', 'cdt', 'nouveau', 'La10', 'dièsel', 'cylendre', 'Rd28', 'Hadi', 'essenc', 'sambl', 'Esense', '1,5TSI', '5.2L', '620ch', '200h', '90Ch', 'DDTY', 'tco', 'GL-i', 'lifan-x-60-1.8-ess', 'Pure', 'Tech', 'turbot', 'dsg6', '152ch', 'Bonne', 'civic', 'vtec', 'mahtot', '108', 'MPI.', 'coaster', '6-26', '138Ch', 'sd4', 'dck', '4.8', '500ch', '1،6', 'Rb', 'semple', 'turbocharged', '165Ch', '2.0dci', '4wd', '4800', 'vtc', 'مريفيزي', 'Ritmo', '271ch', 'Biturbo', '230', 'compressor', 'ESE+GPL', 'bv6', 'Pruchtech', 'isuzi', 'Honda', 'dicor', '67cv', '385ch', '100chb', 'l112', '163CH', '120CH', 'DAIHATSU', 'Terios', '105cv', ')', '2,2l', 'TDCi', '،', 'sinple', 'transit', '611', 'w210', 'طالبو', '197cvs', '+gaz', '1.0turbo', 'compriseur', 'Echange', 'libia', '70000km', '2.5mzr', 'cd', 'TSIQ', "3'1", 'ch140', 'gt', '616', 'Mercedes-Benz', '140cv', 'نيسان', '195ch', '85Ch', '16valv', 'dci130', 'vp', '220cdi', 'om', 'AGG', 'e220', 'سيارديي', '/101', 'D240', '197CV', '130CV', '158CH', 'tsi/110', '1•0', '143CH', '92h', '124,,,,5', 'cylindrée', 'e-tech', 'Hilix', '/la', '272', 'Tres', 'bien', '1.5TSI', '72', '325ch', 'FAP-20', 'BUSINESS', 'bite', 'chvaux', 'انجكسيون', 'دالكو', '/Gpl', 'ل8', 'سانبل', 'HDi.', '92Ch', 't3', 'altitude', '92hp', 'M50', 'b20', 'AB', '2.0litre', 'expres', 'K', '3000', '100hp', '115Chv', 'GTi', 'SirGaz', 'مخدوم', 'مليح', 'samble', 'silender', 'Mode', '2.0d', 'ingénioum', 'Essense', '1.5من', 'نوع', '-100cv', '6.42', 'Citerne', 'lait', '1.1.', 'ciello', '850chv', 'Esence1.0', '1.5TCE', 'ess1.0', 'e_torq', 'dci/115', '143hp', 'Expres', '110hdi', 'Hundai', 'SUV', 'ل', 'سنبل', '170cv', 'R5', '.9', 'viteses', 'tubo', 'port', 'DSL', 'vct', 'ECOBOOST', '125Chv', '340chv', 'origine', '3000essence', '92hdi', '1,o', 'gti', 'Audi', 'A3', 'مزوت', 'atmosphérique', '101ch.', 'En', 'panne', '16.v', 'cilen', 'normal', 'S63', '.4.7', '136cv', 'Gy6', '150cc', 'essanse', 'litters', '131cv', '306', 'S.D.I', '1.8T', 'DT2.5', 'TDI102CH', 'جنيور', '1.5L.', 'LWB', 'D350', 'LAND', '/essence', 'GKX', 'Exspress', 'cilender', '1.9tdi.', 'purtache', 'eTorq', 'Multiair', '144', '1.0hybrid', '1.0T-GDI', 'MHEV', '16/V', '197chv', 'Cielo', 'Dfm', 'jdid', '190Ch', 'Agauna', 'clé', 'GE', '104', ',150', '5tirbou', '200chevaux', 'litr', 'Meawd', '2.8l', 'مارسيداس', 'opf', '140chevaux', '233ch', '2f', 'ES', '40tdi', '4CYLINDRES.', 'CE', '3.4L', 'silndr', '2.2crdi', 'TC', 'كحرك', 'Exprès', '3l', 'dci...115', '1.0TSI', 'essanc', '2.2dsl', '110Chv', '21', '184CH', '287ch', 'Memoire', 'daihatsu', 'terios', 'Eco-G', '28ch', 'T-gdi', '2,4', 'L143', 'benz', 'FIAT', 'évico', '2.0TFSI', '215ch', '0', 'vr6', '.1', 'shovuo', 'glx', 'trbo', '1.2turbo', 'Turbo,', '5dci', 'ULTRA', 'Zen', 'Ta3', 'mison', 'بين', 'توربو', 'mercedes-glc-250-amg-line-211c', 'أنهh', 'V.6', 'gts', '1.9_190', 'atmospheric', 'RD', 'LHR', 'e-tsi', 'D4t', '1.0,100cv', '135', '2lit', 'pouch', 'liter', 'bouch', '194cv', 'Chevrolet', 't-gdi', 'essen', '1;0', 'modele', 'gtl', '177chv', 'hDi', 'Allure', '05', 'tgdi', '2.0hdi', 'tutbo', '140ccv', 'h100', '2003', 'spicyal', '4سيلاندر', '1.6dci', 'golf3', 'BLUEMOTION', 'gdi', '43', 'amg', 'ECO-G', 'Motors', "1'5", 'ma', 'peurtech', 'extreme', '189', 'e39', 'TCU', 'MERCEDES', 'LIN', '1.9/130ch', '2ltr', '333', 'VOLKSWAGEN', 'POLO', '80CH', 'dci110', 'BiTDI', '239ch', 'turbocompresseur', 'Multijet', '140tce', '20.', '1.2.16v', '152CH', '172ch', 'simense', 'e-HYBRID', '80hp', 'om646', '1.6hd', 'kw', 'N.m', '(4', 'piston', 'inergie', '4/4', 'Renault', 'شكمان', 'باطة', 'زاداف', 'GMC', 'YUKON', 'DENALI', 'Pwat', '1300', 'cm', '.TDI', '250ch', '240CV', '116CV', 'letr', '2.3dci', 'eTFSI', 'راكب', '145Ch', '198ch', '/gaz', 'V12', 'ti', 'BI', 'speedtronic', 'شيفرولي', 'سايل', '..', 'R-DYNAMIC', '(Automatique', 'بوش', '1,6hdi', 'ISG', '(Essence', 'BVM)', 'Litre', '173', '1.9لا', '32ch', '111cdi', 'tddi', '3litr', '235', 'Fr', 'Cylindre', 'h1', 'Td4', '65chv', 'هاربين', 'Gonow', '90CV', 'بحالة', 'جيدة', '166cv', 'Semi-électrique', '(184ch+20ch)', '130c', 'E-torq', '105.', '230ch', 'افيوا', 'option', '2.2l', '/110chv', '4D', '125chvx', '110hp', 'DOHC16v', 'TL', 'silander', 'Quickshift', 'la100spisail', 'Fiat', '272ch', 'GLC', 'Demi', '2liter', 'dièse', 'اجدي', 'Acor', 'plombé', 'Puiss.', 'Fiscale', 

In [177]:

provided_engine_names = ['HDI', 'TDI', 'VTEC', 'VVTi', 'TSI', 'TFSI', 'ECOBOOST', 'CRDi', 'MPI', 'GDI',
                        'V6', 'V8', 'V12', 'Boxer', 'Wankel', 'Rotary', 'Hybrid', 'Turbo', 'Supercharged',
                        'Diesel', 'Gasoline', 'Electric', 'Petrol', 'CNG', 'LPG', 'EcoDiesel', 'FlexFuel',
                        'Direct Injection', 'Common Rail', 'Variable Valve Timing', 'Variable Valve Lift',
                        'Variable Valve Duration', 'Overhead Cam', 'DOHC', 'SOHC', 'OHV', 'Pushrod',
                        'Hybrid Synergy Drive', 'SkyActiv', 'BlueHDi', 'BlueMotion', 'eTorque', 'EcoBoost',
                        'PureTech', 'EcoTec', 'i-VTEC', 'm-VTEC', 'Dual VVT-i', 'VVT-L', 'Variable Twin Turbo',
                        'ess','dci','DCi','Dci','tce','VVTI','tsi','VVTL','4WD','hDi']


# Assuming 'copy' is the name of your DataFrame and 'specs_car_engine' is the name of the column
# Replace 'specs_car_engine' with the actual name of your column
copy['Engine_Name_Match'] = copy['specs_car_engine'].apply(lambda x: next((engine for engine in provided_engine_names if isinstance(x, str) and engine.lower() in x.lower()), pd.NA))

# Display the DataFrame with the new column
print(copy)

             id                                        title      price  \
0      37481055                   Dacia Sandero 2019 Stepway  3350000.0
1      37480999                Seat Ibiza 2018 High Facelift  1230000.0
2      37480705                          Kia Picanto 2023 Ex  3950000.0
3      37229272                         Nissan Qashqai 2009   1600000.0
4      37479579  Volkswagen Transporteur 2 T2 1982 Brésilien   380000.0
...         ...                                          ...        ...
92542  41120407                   Volkswagen Golf 8 2022 GTD  7800000.0
92543  41118613                       Hyundai Accent 2020 RB  3180000.0
92544  41120392                         Fiat Doblo 2024 Life  3600000.0
92545  41120380                            Peugeot 207 2012   1900000.0
92546  41118598                Volkswagen Golf 2 1990 Golf 2   990000.0

       specs_annee   specs_car_engine  specs_couleur_auto  specs_papiers  \
0             2019       1.5 DCI 90ch                  10            1.0
1             2018       1.6 MPi 90ch                  21            1.0
2             2023                NaN                   3            1.0
3             2009  2.0 DCI 150ch 4WD                  21            1.0
4             1982                  9                   9            1.0
...            ...                ...                 ...            ...
92542         2022        200 chevaux                  14            2.0
92543         2020     1.6 CRDI 128ch                  10            1.0
92544         2024            1.6 hdi                  21            1.0
92545         2012       1.4 ess 75ch                   3            1.0
92546         1990       1.8 ess 90ch                   3            1.0

       specs_kilometrage specs_marque-voiture       specs_modele  \
0                   75.0                Dacia            Sandero
1                58000.0                 Seat              Ibiza
2                    0.0                  Kia            Picanto
3                  287.0               Nissan            Qashqai
4                    NaN           Volkswagen  Transporteur 2 T2
...                  ...                  ...                ...
92542            33000.0           Volkswagen             Golf 8
92543            80000.0              Hyundai             Accent
92544                0.0                 Fiat              Doblo
92545              258.0              Peugeot                207
92546           111111.0           Volkswagen             Golf 2

      specs_finition  specs_energie  specs_boite  options  Engine Capacity  \
0            Stepway            NaN          NaN        0          1.50000
1      High Facelift            NaN          NaN        1          1.60000
2                 Ex            NaN          NaN        7          1.61063
3                NaN            NaN          NaN       11          2.00000
4          Brésilien            NaN          NaN        0          9.00000
...              ...            ...          ...      ...              ...
92542            GTD            NaN          NaN       14          1.61063
92543             RB            NaN          NaN       14          1.60000
92544           Life            NaN          NaN        0          1.60000
92545            NaN            NaN          NaN        7          1.40000
92546         Golf 2            NaN          NaN       10          1.80000

      Engine_Name_Match
0                   dci
1                   MPI
2                  <NA>
3                   dci
4                  <NA>
...                 ...
92542              <NA>
92543              CRDi
92544               HDI
92545               ess
92546               ess

[81651 rows x 16 columns]

In [178]:
print(copy['Engine_Name_Match'].value_counts())

Engine_Name_Match
ess            18969
TDI             8483
HDI             7758
dci             7300
CRDi            2234
MPI             1850
TSI              818
tce              497
Turbo            452
VVTi             425
TFSI             340
Diesel           168
Hybrid           135
V6               112
DOHC              80
V8                71
PureTech          29
GDI               28
ECOBOOST          11
VTEC               9
4WD                7
Common Rail        5
eTorque            2
V12                2
EcoTec             2
Name: count, dtype: int64

In [168]:
copy.columns

Index(['id', 'title', 'price', 'specs_annee', 'specs_car_engine',
       'specs_couleur_auto', 'specs_papiers', 'specs_kilometrage',
       'specs_marque-voiture', 'specs_modele', 'specs_finition',
       'specs_energie', 'specs_boite', 'options', 'Engine Capacity',
       'Engine_Name_Match'],
      dtype='object')

In [169]:
print(copy[['id', 'title', 'price', 'specs_annee', 'specs_car_engine',
       'specs_couleur_auto', 'specs_papiers', 'specs_kilometrage',
       'specs_marque-voiture', 'specs_modele', 'specs_finition',
       'specs_energie', 'specs_boite', 'options', 'Engine Capacity',
       'Engine_Name_Match']].dtypes)

id                        int64
title                    object
price                   float64
specs_annee               int64
specs_car_engine         object
specs_couleur_auto        int32
specs_papiers           float64
specs_kilometrage       float64
specs_marque-voiture     object
specs_modele             object
specs_finition           object
specs_energie           float64
specs_boite             float64
options                   int64
Engine Capacity         float64
Engine_Name_Match        object
dtype: object